img {
    width: 50px;
    height: 50px;
}

.reply_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 615px;
    height: auto;
}

.reply_name_text {
    width: 615px;
    display: flex;
    flex-direction: column;

}

.replyname {
    display: flex;
    font-weight: bold;
    padding-left: 10px;
}

.replytext{
    display: flex;
    padding-left: 10px;
    text-align: justify;
}

.replyrating{
    font-size: 24px;
    font-weight: bold;
}